.chat-inner-wrapper {
        height: 50vh;
        overflow-y: scroll;
        /* overflow-wrap: normal; */
        display: flex;
        flex-direction: column;

}

.entry-box {
        margin-top: 5px;
}

.chat {
        /* min-height: 80vh; */
        position: relative;
}
